pose_estimation/filenames.txt
ball_detection/filenames.txt
data/

# ignore pycache
__pycache__

# ignore all data files and directories
*.csv
*.mp4

*csvs
*videos

# ignore all image files
*.png
*.jpg
*.jpeg

pictures
